


 input#formGroupExampleInput2.form-control {
    width: 50%;

 }




  div.container form div.form-group label {
     margin-right: 5rem;
 }

button.btn-primary {
   
    justify-content: right;
 }
  







 
